<% include ../partials/header.ejs %>
<% include ../partials/nav.ejs %>

<main>
    <input type="hidden" id="global-username">
    <section class='container'>
        <div class="col-md-12">
            <h1>Kent's Fancy Wishlist Site</h1>
        </div>
    </section>
    <section class="container">
        <h2>Wishlist for: <%= wishlistUser %></h2>
        <% if(error != null){ %>
            <div class="alert alert-danger">
                <p>Could not find wishlist for <strong><%= wishlistUser %></strong></p>
            </div>
        <% } else { %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Thumb</th>
                    <th>Item</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<items.length; i++){ %>
                <tr>
                    <td><img src="<%= items[i].thumb %>" class="wishlist-thumb"></td>
                    <td><a href="<%= items[i].url %>" target="_blank"><%= items[i].name %></a></td>
                    <td>$<%= items[i].price %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </section>
</main>


<% include ../partials/footer.ejs %>